{% extends 'base.html' %}

{% block title %}{{project['Project']}}{% endblock %}

{% block header %}{{project['Project']}} - Overview {% endblock %}

{% block content %}


<div class="row d-flex justify-content-between">
    <p class="col-auto">
        {{project['Description']}}
    </p>
    {% if g.user['UserID'] == project['OwnerID'] %}

    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        Options
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="{{url_for('projects.edit_project', projectID=project['ProjectID'])}}" class="dropdown-item">
            <i class="fa fa-edit"></i> Edit Project
        </a>
        <a href="#" data-toggle="modal" data-target="#deleteModal" class="dropdown-item">
            <i class="fa fa-trash-o" aria-hidden="true"></i> Delete Project
        </a>
    </div>
    {% endif %}

</div>

<div class="row">
    <div class="col-6">
        <h2>
            Project Contributors
        </h2>
        <ul class="list-group list-group-flush">
            {% for member in projectMembers %}
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    {{member['FirstName']}} {{member['LastName']}} - {{member['UserName']}}
                </span>
                {% if member['IsOwner'] == 1 %}
                <i class="fa fa-star"></i>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-6">
        <div class="d-flex justify-content-between">
            <h2>Project Task Items</h2>
            <h3 data-toggle="tooltip" data-placement="right" title="New Task">
                {% if g.user['UserID'] in projectMembers[0] %}
                <a href="#" data-toggle="modal" data-target="#createTaskModal">
                    <i class="fa fa-plus-square-o"></i>
                </a>
                {% endif %}
            </h3>
        </div>

        <ul class="list-group list-group-flush">
            <div id="accordion">
                {% for task in taskList %}
                <li class="list-group-item d-flex justify-content-between border-bottom-0"
                    id="heading{{task['TaskID']}}" data-toggle="collapse"
                    data-target="#collapse{{task['TaskID']}}" aria-expanded="false"
                    aria-controls="collapse{{task['TaskID']}}">

                    <span class="col-auto">
                        {{task['Task']}}
                    </span>

                    <a href="{{url_for('tasks.complete_task', taskID=task['TaskID'])}}">
                        {% if task['IsCompleted'] == 1 %}
                        <i class="fa fa-check-square-o mr-3 align-self-center"></i>
                        {% else %}
                        <i class="fa fa-square-o mr-3 align-self-center"></i>
                        {% endif %}
                    </a>

                </li>
                <div id="collapse{{task['TaskID']}}" class="collapse border-bottom"
                     aria-labelledby="heading{{task['TaskID']}}" data-parent="#accordion">
                    <div class="row d-flex justify-content-around pb-2 pt-0 m-0">
                        <a href="{{url_for('tasks.view_task', taskID=task['TaskID'])}}" >
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <a href="#" class="modal-trigger" data-toggle="modal" data-target="#EditTaskModal"
                           data-id="{{task['TaskID']}}" data-text="{{task['Task']}}">
                            <i class="fa fa-edit"></i>
                        </a>
                        {% if g.user['UserID'] == project['OwnerID'] %}
                        <a href="#" class="modal-trigger" data-toggle="modal"
                           data-target="#DeleteTaskModal" data-id="{{task['TaskID']}}">
                            <i class=" fa fa-trash-o"></i>
                        </a>

                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </ul>
    </div>
</div>


{% include 'projects/_delete.html' %}
{% include 'tasks/_create.html' %}
{% include 'tasks/_delete.html' %}
{% include 'tasks/_edit.html' %}

{% endblock %}
