{% extends 'base.html' %}

{% block title %}{{ g.user['UserName'] }} - Dashboard{% endblock %}

{% block header %}{{ g.user['UserName'] }} - Dashboard {% endblock %}


{% block content %}

    <div class="row mt-5">
        <div class="col-6">
            <h3 class="display-4">Teams</h3>
            <div id="accordion">
                {% for team in teams %}
                <div class="card">
                    <div class="card-header" id="heading{{team['TeamID']}}" data-toggle="collapse" data-target="#collapse{{team['TeamID']}}"
                            aria-expanded="false" aria-controls="collapse{{team['TeamID']}}">
                        <div class="d-flex justify-content-between">
                            <p>
                                {{ team['Name'] }}
                            </p>
                            <p>
                                Team Owner: {{team['Username']}}
                            </p>
                        </div>
                    </div>
                    <div id="collapse{{team['TeamID']}}" class="collapse" aria-labelledby="heading{{team['TeamID']}}" data-parent="#accordion" >
                        <div class="card-body ">
                            <div class="row d-flex justify-content-between">
                                <p class="col-auto">
                                    {{team['Description']}}
                                </p>
                                <a href="{{url_for('teams.team', teamID=team['TeamID'])}}" class="btn btn-outline-primary">
                                    Visit Team's page
                                </a>
                            </div>
                        </div>
                    </div>
        
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
