{% extends 'base.html' %}

{% block title %}{{ g.user['UserName'] }} - Dashboard{% endblock %}


{% block content %}
<h2>
    {{g.user['UserName']}}
</h2>
<ul>
    {% for team in teams %}
        <div class="team-card">
           
            <li><a href="{{url_for('teams.team', teamID=team['TeamID'])}}">Team Name: {{ team['Name'] }}</a> 
                <ul>
                    <li>Description: {{team['Description']}}</li>
                    <li>Team Owner: {{team['Username']}}
                    </li>
                </ul>
            </li>
        </div>
    {% endfor %}


</ul>
{% endblock %}
