{% extends 'base.html' %}

{% block header %}
    <h1>
        {% block title %}Register{% endblock %}
    </h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="UserName">Username:</label>
        <input type="text" name="UserName" id="UserName" required>

        <label for="Password">Password:</label>
        <input type="password" name="Password" id="Password" required>

        <label for="Email">Email:</label>
        <input type="text" name="Email" id="Email" required>

        <label for="FirstName">First Name:</label>
        <input type="text" name="FirstName" id="FirstName" required>

        <label for="LastName">Last Name:</label>
        <input type="text" name="LastName" id="LastName" required>

        <input type="submit" value="Register">
    </form>


{% endblock %}



